* body {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    height: 100%;
}
.top-site{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #333;
}

.f-link {
  color:#5d7fb9; 
}
f-link-bold{
  font-weight: bold;
}
f-link-bold:hover{
  color:#105bd8;
}
.p-style {
  margin: 1em;
}
.code {
  background-color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 2em;
  padding: 1em;
}
.pics {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 6px;
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

img {
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    margin: 6px;
}

button {
    width: 75px!important;
    height: 75px; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}  

.list-style{
  margin: 3em;
}
.code-style{

}

h1 {
  margin: 1em;
}
h2 {
  margin: 1em;
}
h3 {
  margin: 1em;
}
.form-marg{
  margin: 2em;
}
.btn-color {
  color: white;
  border-radius: 0%;
  background-color: #5d7fb9;
  border: none;
  height: 40px;
  width: 175px;
  font-weight: bolder;
  margin-top: 65px;
  margin-right: -150px;
}
a:active {
  color: blue;
}
.btn-color {
  cursor: pointer;
}
.bouton-burger {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.menu-togglebutton {
  color: white;
  border-radius: 0%;
  background-color: #0b3d91;
  border: none;
  height: 40px;
  width: 375px;
  font-weight: bolder;
  /* margin-top: 120px; */
  /* margin-right: -150px; */
  /* opacity: .5; */
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.menu-togglebutton:hover {
  cursor: pointer;
  background-color: #5d7fb9;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 80%;
    height: 48px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(87, 87, 87);
  }
  
  .topnav a.active {
    background-color: #0b3d91;
    color: white;
  }
  .topNavMobile {
    display: flex;
    flex-direction: column;
    margin: 2em;
  }
  .mob-nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 2em;
    width: 150px;
  }
  .mob-nav:hover {
    background-color: #5d7fb9;
  }
  .topnavMobile {
    background-color: #15418c;
    margin: 2em;
  }

  .menu-button {
    display: none;
  }
  @media (max-width: 1015px) {
    .topnav {
      display: none;
    }
    .menu-button {
      display: block;
    }
    .topnavMobile {
      display: none;
    }
  }
  @media (min-width: 1015px) {
    .topnavMobile {
      display: none;
    }
    /* .menu-togglebutton {
      display: none;
    } */
    .top-site{
      position: fixed;
      /* background-color: #00000000; */
    }
  }